.cover__link {
    background-image: #FFFFFF;
    max-width: 1184px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-decoration: none;
    margin: auto;
}

.cover__link::before {
    content: '';
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    max-width: 1184px;
    margin: 12px auto 92px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
    transition: opacity .3s;
}

.cover__link:hover::before {
    opacity: 0.3;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }

    .cover__link::before {
        margin-bottom: 64px;
    }
}