.intro__text {
    color: #FFFFFF;
    max-width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 100%;
    }
}