.intro__text {
    color: #FFFFFF;
    max-width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
    margin: 40px 0px 33px 0px;
    padding: 0px;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 100%;
    }
}