.place {
    display: grid;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, fit-content(584px));
    gap: 48px 40px;
    box-sizing: border-box;
    margin: 0px auto 80px;
    padding: 0px;
}

@media screen and (max-width: 1279px) {
    .place {
        width: calc(100% - 48px*2);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        width: 100%;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 320px;
        width: 100%;
        grid-template-columns: 320px;
        row-gap: 32px;
        margin-bottom:  50px;
        padding: 0px;
    }
}