.place__website {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    text-overflow: auto;
}

@media screen and (max-width: 767px) {
    .place__website {
        width: 90%;
        margin: auto;
    }
}